<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {# the CSS file lives at "public/css/blog.css" #}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {# the JS file lives at "public/bundles/acme/js/loader.js" #}
        <script src="{{ asset('js/javascript.js') }}"></script>
        {% endblock %}
    </body>
</html>
